# Implmented GitIgnore more like a whitelist
# Ignore everything, but then allow specific folders/files
/*

!/LICENSE
!/README.md
!/quantumQuarrel/Classes/
!/quantumQuarrel/Resources/
!/.git/
!/.gitignore